# macOS
.DS_Store

# Java
*.class
*.jar

# Python
*.pyc

# Vim
.*.swp
.*.swo

# IntelliJ 
.idea/
*.iml

# Pants
.cache
.pants.d
dist
.pids
.pants.workdir.file_lock

# Benchmarks
target/

# LaTeX
*.log
*.aux
*.dvi
*.out
